<div class= "container">
    <div class = "d-flex me-3 mb-3 mt-3 ms-2 justify-content-between" >
        <div>
            <h2>Product</h2>
        </div>

        <div>
            <button class="btn btn-primary" (click) = "goToCart()" >View Cart ({{cart.size}})</button>
        </div>
    </div>

    <table class = "table table-hover table-bordered text-center">

        <thead>
            <tr class = "table-secondary" >
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Availability</th>
                <th scope="col"  >Description</th>
                <th scope="col">Actions</th>
                
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of products;">
                <td >{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.availability}}</td>
                <td>{{product.description}}</td>
                <td><button (click)="addToCart(product)">Add</button></td>
            </tr>

        </tbody>

    </table>
</div>